In [36]:
def math(x, y):
    su = x+y
    sb = x-y
    mt = x*y
    dv = x/y
    
    print("Summation \t {}+{} = {}".format(x, y, su))
    print("Substrution \t {}+{} = {}".format(x, y, sb))
    print("Multiplication \t {}+{} = {}".format(x, y, mt))
    print("Division \t {}+{} = {}".format(x, y, dv))

In [37]:
math(20, 10)

Summation 	 20+10 = 30
Substrution 	 20+10 = 10
Multiplication 	 20+10 = 200
Division 	 20+10 = 2.0

In [39]:
def range_sum(x, y):
    for z in range(y):
        print(str(x)+"+"+str(z)+"="+str(x+z))

In [40]:
range_sum(2,5)

2+0=2
2+1=3
2+2=4
2+3=5
2+4=6

In [27]:
def power_loop(x):
    for y in range(x):
        print(y**2)
        
power_loop(5)

0
1
4
9
16

In [53]:
def namta(num):
    for n in range(10):
        step = n+1
        print(num, "X", step, "=", num*step)
    
namta(int(input('Input a number to get namta : ')))

Input a number to get namta : 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [45]:
def make_list(list_num):
    l = []
    for i in range(list_num):
        l.append(i)
    return l
make_list(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]