### String to character & list

In [15]:
name = "Khorshed Alam"
print (name)
for l in name:
    print(l)
print (list(name))

K
h
o
r
s
h
e
d

A
l
a
m
Khorshed Alam
['K', 'h', 'o', 'r', 's', 'h', 'e', 'd', ' ', 'A', 'l', 'a', 'm']

### Use of range in loop

In [3]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [5]:
for even in range(2, 11, 2):
    print (even)

2
4
6
8
10

In [7]:
for odd in range(1, 10, 2):
    print (odd)

1
3
5
7
9

In [57]:
condition = True
serial = 0
name = 'Khorshed Alam'
while condition:
    if (serial < len(list(name))):
        print (str(serial)+': '+list(name)[serial])
    else:
        print ('\nTotal number of character = '+str(serial))
        condition = None
    serial = serial+1

0: K
1: h
2: o
3: r
4: s
5: h
6: e
7: d
8:
9: A
10: l
11: a
12: m

Total number of character = 13

In [11]:
odd = []
even = []
for i in range(1, 11):
    if (i%2):
        odd.append(i)
    else:
        even.append(i)
print (odd)
print (even)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [27]:
name = 'My name is Sarwar Alam'
for i in name.split():
    if(i == 'Sarwar'):
        name = name.replace('Sarwar', 'Khorshed')
print (name)

My name is Khorshed Alam

In [66]:
age = int(input('How old are you? '))
print ("Oh you born in "+str(2020-age)+' ...')

How old are you? 30
Oh you born in 1990.....

## Please add me in conversation group

### My facebook id is https://fb.me/kashohel
### My whatsapp id is 01834411000